.constainer{
    width: 80vw;
    height: 80vh;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    padding-top: 5vh;
    justify-content: space-around;
}
.infoBout
{
    width: 35%;
    height: 90%;
    background-color: hsl(0, 0%, 10%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.pt{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, hsl(313, 100%, 50%), hsl(169, 100%, 50%));
    background-clip: text;
}
.zahadkaOtZakaFresko
{
    width: 60%;
    height: 90%;
    background-color: hsl(0, 0%, 10%);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.whatIsInfo
{
    width: 100%;
    height: 15%;
    background-color: hsl(0, 0%, 15%);
}
.whatIsInfo h2
{
    margin-left: 10px;
}
.ProfileText
{
    color: transparent;
    border-bottom: 2px solid black;
    margin-left: 10px;
}
.wtfIsThat
{
    width: 100%;
    height: 15%;
    background-color: hsl(0, 0%, 15%);
}
.wtfIsThat h2
{
    margin-left: 10px;
}
.QAndA
{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    margin-left: 10px;
}
.QAndA::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.oneRow
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.btnDel
{
    background-color: hsl(0, 100%, 40%);
    width: 7vh;
    height: 7vh;
    border-radius: 35%;
}
.btnEdit
{
    background-color: hsl(136, 100%, 40%);
    width: 7vh;
    height: 7vh;
    border-radius: 35%;
}
.btnsInside
{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.oneRow h2
{
    overflow-y: scroll;
    max-width: 40%;
    font-size: 1rem;
}
.oneRow h2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}